footer {
    height: 350px;
    background-image: url('/public/img/bgcomics-modified\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Cambia l'opacità a tuo piacimento */
        z-index: 1; /* Assicurati che l'overlay sia sopra l'immagine di sfondo */
      }

    .footer-top {
        max-width: 1200px;
        margin: auto;
        position: relative;
        z-index: 999;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        h3 {
            color: white;
            font-weight: bold;
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;

            li {
                margin-bottom: 10px;

                a {
                    color: white;
                    text-decoration: none;
                    display: block;
                    
                    &:hover  {
                        text-decoration: underline red;
                        transition: transform 0.3s;
                        color: red;
                    }
                }   
            }
        }

        .logo-big {

            img {
                position: relative;
                bottom: 120px;
                transform: rotate(-35deg);
            }
        }
    }
}